<body>
    <div class="container">
        <form #f='ngForm' (ngSubmit)='signup(f)'>
            <i class="fa fa-users main_user"></i>
            <h1 class='text-center'> Sign up </h1>
            <div>
                <input type="text" name='name' ngModel #name='ngModel' placeholder="Name" required>
                <div *ngIf='name.touched && name.errors?.required'  class='alert alert-danger'> * required </div>
            </div>
            <div>
                <input type="email" name='email' ngModel #mail='ngModel' placeholder="E-mail" email required>
                <div class='alert alert-danger' *ngIf='mail.touched && mail.errors?.required'> * required </div>
                <div class='alert alert-danger' *ngIf='mail.touched && mail.errors?.email'> this is not email </div>
            </div>
            <div>
                <input type="password" name='password' ngModel #pass='ngModel' placeholder="Password" minlength="2" required>
                <div class='alert alert-danger' *ngIf='pass.touched && pass.errors?.required'> * required </div>
                <div class='alert alert-danger' *ngIf='pass.touched && pass.errors?.minlength'> the pass is very short  </div>
            </div>
            <div>
                <input type="password" name='confpass' ngModel #confpass='ngModel' placeholder="Conferm password" minlength="2" required>
                <div class='alert alert-danger' *ngIf='confpass.touched && confpass.errors?.required'> * required </div>
                <div class='alert alert-danger' *ngIf='mail.touched && pass.value !== confpass.value'> thire are not sams   </div>
            </div>
            <div>
                <input type="text" name='address' ngModel #address='ngModel' placeholder="Address" required>
                <div class='alert alert-danger' *ngIf='address.touched && address.errors?.required'> * required </div>
            </div>
            <div class='alert'> {{errmsg}}</div>
            <button class='btn btn-primary'> Sign Up </button>
        
        </form>
    </div>
</body>